.container {
    text-align: center;
    margin-top: 25px;
}

table {
    margin: auto;
}

input {
    border-radius: 25px;
    border: 3px solid;
    font-size: 40px;
}

button{
    font-size: 35px;
    background-color: white;
    width: 125px;
    height: 60px;
    border-radius: 25px;
}

.calculator {
    display: inline-block;
    padding: 22px;
    border-radius: 50px;
    background-color:gray;
}